<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.hongseokjun.myapp.auth.dao.LoginDao">
    <select id="login" parameterType="string" resultType="me.hongseokjun.myapp.user.dto.UserDto">
        select employee_id, name, position, email, password, profile_image, register_date
        from employee
        where email = #{email}
    </select>
</mapper>