<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.hongseokjun.myapp.user.dao.UserDao">
    <insert id="registerUser" parameterType="me.hongseokjun.myapp.user.dto.UserDto">
        insert into employee (name, email, password, register_date)
        values ( #{name},#{email},#{password},now());
    </insert>

</mapper>